@import '../../assets/scss/variables';

.video__wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.video__description {
  padding: 0;
}

.video__screenshot {
  width: 54%;
  height: auto;
  background-color: $grey;
}

.video__title {
  display: flex;
  flex-direction: column;
  padding: 0 1%;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}




