@import "../../assets/scss/variables";

.page-header {
  padding: 1em 1.1vw;
}

.main-nav {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
}

.nav-search {
  display: flex;
  margin-right: auto;
}

.nav-search__input {
  width: 28vw;
  font-size: 1em;
  padding: 0.6em;
  box-sizing: border-box;
  border-radius: 3px 0 0 3px;
  border: 0.09em solid $grey-lighter;
}

.nav-search__btn {
  padding: 0.6em 0.75em;
  border-radius: 0 3px 3px 0;
  border: 0.09em solid $grey-lighter;
  border-left: none;

  &:hover {
    box-shadow: inset 0 0 0.1em $grey;
  }
}

.main-nav__profile-btn {
  color: #000000;
  padding: 0.55em 0.85em;
  border: 0.09em solid $green;

  &:hover {
    box-shadow: 0 0 0.095em $green;
  }
}

.main-nav__sign-up {
  margin-right: 1.2vw;
}

.movies__screenshot {
  width: 20vw;
  height: 8vw;
  margin-right: 1.5vw;
}

.movies-wrapper {
  width: 28vw;
  position: absolute;
  left: 0;
  top: 2.6em;
  box-shadow: $shadow;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.result:not(:last-child) {
  border-bottom: 0.1em solid $grey-lighter;
}
