<nav class="panel">
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input" type="text" placeholder="Search" [(ngModel)]="value" (keyup.enter)="getInput()">
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
      <div class="buttons">
        <button class="button is-primary" (click)="getInput()">Search</button>
      </div>
  </div>
  <div class="movies-wrapper">
    <div *ngFor="let movie of valueList">
      <a [routerLink]="['/video', movie.id]" class="panel-block is-active">
        <img class="movies__screenshot" src="../../assets/img/{{movie['thumbnail']}}">
        {{movie.title}}
      </a>
    </div>
  </div>
</nav>
