<nav class="panel">
  <div class="panel-block">
    <p class="control has-icons-left is-two-fifths">
      <label for="name"></label>
      <input class="input" id="name" type="text" placeholder="Search" [(ngModel)]="value" (keyup.enter)="getInput()">
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
      <div class="buttons">
        <button class="button is-primary" (click)="getInput()">Search</button>
      </div>
  </div>
  <div class="movies-wrapper">
    <app-search-result *ngFor="let movie of searchResults"
                       [iVideo]="movie"
                       (selectWithTime)="onVideoSelect($event)"></app-search-result>
  </div>

<router-outlet></router-outlet>
</nav>
