@import "../../assets/scss/variables";

.upload-video {
  width: 100%;
  display: flex;
  padding: 2em 2vw;
  flex-direction: column;
  align-items: center;
  background-color: $bg-color;
  box-sizing: border-box;
}

.upload-video__form {
  display: flex;
  padding: 2.5em 5em;
  flex-direction: column;
  width: 55%;
  background-color: #ffffff;
  border-radius: 3px;
  box-sizing: border-box;
}

.upload-video__label {
  margin-bottom: 0.4em;
  font-size: 1.1em;
}

.upload-video__input {
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1em;
  border: 0.08em solid $grey-lighter;
  border-radius: 3px;
}

.upload-video__btn {
  margin-top: 2em;
  color: #ffffff;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  background-color: $green;

  &:hover {
    box-shadow: 0 0 0.09em $green-darker;
  }
}


textarea{
  width: 100%;
}

input[type="file"]{
  visibility: hidden;
}

.image-preview{
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

#button__pick-image{
  width: 170px;
  height: 40px;
  border-radius: 5px;
  margin-top: 0.6em;
  color: white;
  font-size: 0.9em;
  letter-spacing: 0.04em;
  background-color: $grey-lighter;

  &:hover {
    box-shadow: 0 0 0.09em $grey;
  }
}
