<div class="container">
  <div class="columns">
    <div class="column is-12 box has-text-centered">
        <figure class="image is-16by9">
          <video (click)="playPause()" class="has-ratio" width="640" height="360" #video id="video" frameborder="0" allowfullscreen></video>
        </figure>
        <div #controls class="btn-wrapper box is-centered buttons are-small">
          <button class="button is-focused"><i class="fas fa-fast-backward" id="playSlower" aria-hidden="true" (click)="playSlower()"></i></button>
          <button class="button is-info is-focused"><i class="fas fa-backward" id="backwardIcon" aria-hidden="true" (click)="playBackward()"></i></button>
          <button class="button is-primary is-focused"><i class="fas fa-play" id="playIcon" aria-hidden="true" (click)="playPause()"></i></button>
          <button class="button is-info is-focused"><i class="fas fa-forward" id="forwardIcon" aria-hidden="true" (click)="playForward()"></i></button>
          <button class="button is-focused"><i class="fas fa-fast-forward" id="playFaster" aria-hidden="true" (click)="playFaster()"></i></button>
        </div>
      <br>
        <div #title class="video-title"></div>
        <br>
        <article #description class="media has-text-centered"></article>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>

