<section class="video-page">
  <h2 class="visually-hidden">{{movie?.video_title}}</h2>
  <div class="video__wrapper">
    <video #video
            src= "{{movie?.url ? movie.url : ''}}"
            poster="{{movie?.video_thumbnail ? movie.video_thumbnail : 'unavailable.png'}}"
            (click)="playPause()"
            class="has-ratio"
            id="video"
           type="video/mp4"
            frameborder="0"
            allowfullscreen>
    </video>
    <iframe #iframe src=""></iframe>
    <div *ngIf="movie?.url" class="video__btns">
      <button class="btn video__control-btn" (click)="playSlower()"><i class="fas fa-fast-backward" id="playSlower" aria-hidden="true"></i></button>
      <button class="btn video__control-btn" (click)="playBackward()"><i class="fas fa-backward" id="backwardIcon" aria-hidden="true"></i></button>
      <button class="btn video__control-btn" (click)="playPause()"><i class="fas fa-play" id="playIcon" aria-hidden="true" #playPauseBtn></i></button>
      <button class="btn video__control-btn" (click)="playForward()"><i class="fas fa-forward" id="forwardIcon" aria-hidden="true"></i></button>
      <button class="btn video__control-btn" (click)="playFaster()"><i class="fas fa-fast-forward" id="playFaster" aria-hidden="true"></i></button>
    </div>
  </div>
  <p class="video-page__title">{{movie?.video_title}}</p>
  <p class="video-page__description">{{movie?.video_description}}</p>
</section>

