<div class="container">
  <div class="columns">
    <div class="column is-12 box has-text-centered">
        <figure class="image is-16by9">
          <video #video
                 (click)="playPause()"
                 class="has-ratio"
                 width="640"
                 height="360"
                 id="video"
                 frameborder="0"
                 allowfullscreen>
          </video>
        </figure>
        <div #controls class="btn-wrapper box is-centered buttons are-small">
          <button class="button is-focused" (click)="playSlower()"><i class="fas fa-fast-backward" id="playSlower" aria-hidden="true"></i></button>
          <button class="button is-info is-focused" (click)="playBackward()"><i class="fas fa-backward" id="backwardIcon" aria-hidden="true"></i></button>
          <button class="button is-primary is-focused" (click)="playPause()"><i class="fas fa-play" id="playIcon" aria-hidden="true"></i></button>
          <button class="button is-info is-focused" (click)="playForward()"><i class="fas fa-forward" id="forwardIcon" aria-hidden="true"></i></button>
          <button class="button is-focused" (click)="playFaster()"><i class="fas fa-fast-forward" id="playFaster" aria-hidden="true"></i></button>
        </div>
      <br>
        <div class="video-title">{{movie.title}}</div>
        <br>
        <article class="media has-text-centered">{{movie.description}}</article>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>

