<div class="user-form__wrapper">
  <form class="user-form__form" [formGroup]="signupForm">
    <button class="btn popup-close" (click)="hidePopup($event)">
      <span class="popup-close__cross">close</span>
    </button>
    <h3 class="user-form__title">Sign Up</h3>
    <label class="user-form__label">
      Email:
      <input id="email" class="input user-form__input" type="email" formControlName="email" required autofocus ngModel email>
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
           class="user-form__message">
      <div *ngIf="email.errors.required">
        Email is required!
      </div>
      </div>
    </label>
    <label class="user-form__label">
      Password:
      <input class="input user-form__input" type="password" formControlName="password" required>
      <div *ngIf="password.invalid"
           class="user-form__message">
        <div *ngIf="password.errors.required">
          Password is required!
        </div>
      </div>
    </label>
    <label class="user-form__label">
      Password confirmation:
      <input class="input user-form__input" type="password" formControlName="passwordConfirmation" required>
      <div *ngIf="passwordConfirmation.invalid"
           class="user-form__message">
        <div *ngIf="passwordConfirmation.errors.required">
          Password confirmation is required!
        </div>
      </div>
    </label>
    <button class="user-form__btn btn" (click)="signUp($event)">Sign Up!</button>
  </form>
</div>
